<li class="comment-bubble{% if comment.byPostAuthor %} comment-bubble--author{% endif %}{% if border %} comment-bubble--border{% endif %}" id="comment-{{ comment._id }}">
    <figure class="comment-bubble__avatar">
        <img
            src="https://api.dicebear.com/9.x/bottts/svg?seed={{ comment.name | urlencode }}"
            alt="{{ comment.name }} 님의 아바타"
            width="40"
            height="40"
            loading="lazy"
        />
    </figure>
    <div class="comment-bubble__content typography-c1">
        <div class="comment-bubble__name">
            {% if comment.url %}
            <a href="{{ comment.url }}" target="_blank" rel="noopener noreferrer nofollow">{{ comment.name }}</a>
            {% else %}
            <span>{{ comment.name }}</span>
            {% endif %}
        </div>
        <div class="comment-bubble__text typography-b1">{{ comment.body }}</div>
        <div class="comment-bubble__footer">
            <time class="comment-bubble__date typography-c1" datetime="{{ comment.createdAt }}">{{ comment.createdAt | date(format="%Y년 %m월 %d일") }}</time>
            <button
                type="button"
                class="comment-bubble__reply-btn typography-c1"
                data-id="{{ comment._id }}"
                data-name="{{ comment.name }}"
            >
                답글
            </button>    
        </div>
    </div>
</li>
