@use "../base/palette";
@use "../base/mixins";
@use "../base/fonts";
@use "../base/variables";

.global-navigation {
    $self: &;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 variables.$container-padding;
    z-index: 1000;

    &__container {
        display: flex;
        height: variables.$global-navigation-height;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex: 1 0 0;
    }

    &__left {
        justify-content: flex-start;
    }

    &__right {
        justify-content: flex-end;
    }

    &__logo {
        margin-left: 8px;
    }

    &__category {
        display: none;
        height: variables.$global-navigation-height;
        align-items: center;

        @include mixins.respond-to(medium) {
            display: flex;
        }

        a {
            @include fonts.typography(b2);
            color: palette.color(text);
            font-weight: 500;
        }
    }

    &__item {
        $item: &;
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: palette.color(navigation-background);
        backdrop-filter: blur(8px) saturate(180%);
        -webkit-backdrop-filter: blur(8px) saturate(180%);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s variables.$ease-in-out-cubic;

        #{$self}--scrolled & {
            opacity: 1;
        }
    }
}

.logo {
    $logo: &;
    &__text {
        fill: palette.color(text);
    }

    @include mixins.supports-hover {
        &--hover-animation {
            path {
                transition: transform 0.5s;
            }

            &:hover {
                #{$logo}__image > path {
                    transform: translate3d(331px, 0, 0);
                }

                #{$logo}__text > path {
                    transform: translate3d(0, -600px, 0);

                    &:nth-child(2n) {
                        transform: translate3d(0, 600px, 0);
                    }
                }
            }
        }
    }
}

.hamburger {
    $self: &;

    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.35s variables.$ease-in-out-cubic;

    @include mixins.supports-hover {
        &:not(&--open):hover &__line {
            &--top {
                transform: rotate(45deg) scaleX(0.7)
                    translate3d(calc(50% - 4px), -2px, 0);
            }

            &--bottom {
                transform: rotate(-45deg) scaleX(0.7)
                    translate3d(calc(50% - 4px), 2px, 0);
            }
        }
    }

    &__line {
        background-color: palette.color(text);
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: background-color 0.35s variables.$ease-in-out-cubic,
            transform 0.35s variables.$ease-in-out-cubic,
            opacity 0.35s variables.$ease-in-out-cubic;

        &--middle {
            margin: 3px 0;
        }
    }

    &--open &__line,
    &--open:hover &__line {
        background-color: #fff;

        &--top {
            transform: translate3d(0, 6px, 0) rotate(-135deg);
        }

        &--middle {
            opacity: 0;
            transform: rotate(135deg);
        }

        &--bottom {
            transform: translate3d(0, -6px, 0) rotate(-45deg);
        }
    }
}

.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    overflow-y: auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent);
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s variables.$ease-in-out-cubic;

    .hamburger {
        position: absolute;
        top: 5px;
        left: 12px;
        z-index: 10;
    }

    &--open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(0px, 100%, 350px);
        min-height: 100%;
        padding: variables.$global-navigation-height 0;
        transition: opacity 0.3s variables.$ease-in-out-cubic;
    }

    &__nav {
        display: flex;
        margin: 8px 8px 24px;
        flex-direction: column;
        border-radius: 8px;
        background-color: palette.color(background-dimmed);
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        > li {
            display: flex;
            align-items: center;
            padding: 16px 8px;

            &:not(:last-child) {
                border-bottom: 1px solid palette.color(sub);
            }

            > a:first-child {
                @include fonts.typography(b1);
                display: flex;
                width: 100%;
                align-items: center;
                color: palette.color(text);
                font-weight: 500;

                > i {
                    display: inline-flex;
                    align-items: center;
                    margin-right: 4px;
                }
            }
        }
    }
}

.page-header {
    padding: 24px 0 36px;
    text-align: center;

    h1 {
        font-weight: 700;
    }

    p {
        @include fonts.typography(c1);
        margin-top: 8px;
    }
}
