@use "sass:map";

@use "../base/palette";
@use "../base/mixins";
@use "../base/fonts";
@use "../base/variables";

.blog-banner {
    padding-top: variables.$global-navigation-height;
    position: relative;

    &__header {
        position: relative;
        display: flex;
        width: clamp(0px, map.get(palette.$container-width, "large"), 100%);
        margin: 0 auto 12px;
        padding: 360px 20px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mixins.respond-to(medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__image {
        @keyframes fade-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: calc(100% + 40px);
        opacity: 0.25;
        filter: blur(9px);
        pointer-events: none;

        circle {
            opacity: 0;
            animation: 1s ease-in-out forwards fade-in;
        }
    }

    &__container {
        width: clamp(0px, map.get(palette.$container-width, "large"), 100%);
        margin: 36px auto 48px;

        &--padding {
            padding: 0 12px;
        }
    }

    &__title {
        font-weight: 700;
    }
}

.home-post-list {
    width: clamp(0px, map.get(palette.$container-width, large), 100%);
    margin: 36px auto 48px;

    &__toggle-button-group {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    &__view-more {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }

    &__view-more-button {
        $button: &;

        i {
            margin-left: 4px;
            transition: transform 0.2s ease-in-out;
        }

        &:hover {
            i {
                transform: translateX(4px);
            }
        }
    }
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

    &__buttons {
        display: inline-flex;
        justify-content: center;
        border: 1px solid palette.color(grayscale, 300);
        border-radius: 31px;
        overflow: hidden;

        button {
            @include fonts.typography(c1);
            border: none;
            border-radius: 0;
            border-right: 1px solid palette.color(grayscale, 300);

            @include mixins.supports-hover {
                &:hover {
                    background-color: palette.color(grayscale, 200);
                }
            }

            &:last-child {
                border-right: none;
            }

            &[data-active="true"] {
                background-color: palette.color(grayscale, 300);
            }
        }
    }
}
