@use "sass:map";

@use "../base/palette";
@use "../base/mixins";

.prev-next-post {
  display: flex;
  width: clamp(0px, map.get(palette.$container-width, small), 100%);
  margin: 48px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  gap: 1px;
  background-color: palette.color(selection);

  @include mixins.respond-to(medium) {
    border-radius: 8px;
  }

  &-post {
    $post: &;

    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    background-color: palette.color(background-dimmed);
    overflow: hidden;
    flex-grow: 1;
    flex-wrap: wrap;
    transition: background-color 0.2s ease-in-out;

    @include mixins.supports-hover {
      &:hover {
        background-color: palette.color(selection);
      }
    }

    &--previous {
      align-items: flex-start;
      text-align: left;
      margin-left: 0;
    }

    &__meta {
      position: relative;
      width: 100%;
      padding: 24px 16px;
      color: palette.color(text);
      z-index: 5;
    }

    &__label {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      color: palette.color(sub);

      i {
        margin-left: 4px;
      }

      @at-root #{$post}--previous & {
        flex-direction: row;

        i {
          margin-right: 4px;
          margin-left: 0;
        }
      }
    }

    &__title {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 4px;
    }

    @include mixins.respond-to(medium) {
      width: calc(50% - 0.5px);
    }
  }
}
