.scroll-to-top {
    position: fixed;
    bottom: var(--spacing-lg);
    right: var(--spacing-lg);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-fast),
        visibility var(--transition-fast);

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        background-color: var(--color-primary-hover);
    }
}
