{# Post card component macro #}
{# Usage: {{ macros::post_card(post=post_meta) }} #}

{% macro post_card(post, show_category=false) %}
<article class="post-card">
    {% if post.frontmatter.og_image %}
    <a href="/{{ post.category }}/{{ post.slug }}/">
        <figure class="post-card__image">
            <img
                src="{{ post.frontmatter.og_image }}"
                alt="{{ post.frontmatter.title }}"
                loading="lazy"
            />
        </figure>
    </a>
    {% endif %}
    <header class="post-card__header">
        <a href="/{{ post.category }}/{{ post.slug }}/">
            <h2 class="post-card__title typography-h2">{{ post.frontmatter.title }}</h2>
        </a>
        {% if post.frontmatter.description %}
        <p class="post-card__description typography-b2">{{ post.frontmatter.description }}</p>
        {% endif %}
        <!-- Tag list -->
        {% if post.frontmatter.tags %}
            <div class="post-card__tags typography-c1">
                {% for tag in post.frontmatter.tags %}
                <a href="/tag/{{ tag }}/" class="button typography-c1">{{ tag | urldecode }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <time class="post-card__time typography-c1" datetime="{{ post.frontmatter.date.posted }}">
            {{ post.frontmatter.date.posted | date(format="%Y년 %m월 %d일") }}
        </time>
    </header>
</article>
{% endmacro post_card %}
