// Post page styles
// Used on: individual post pages

@use "./base/palette";
@use "./base/mixins";
@use "./base/fonts";

@use "./components/post";
@use "./components/code";
@use "./components/syntax";
@use "./components/prev-next-post";
@use "./components/comments";
@use "./components/like";
@use "./components/post-card"; // for related posts
@use "./components/islands"; // for React islands
