{% extends "base.html" %}
{% import "components/post-card.html" as macros %}

{% block title %}{{ config.site_title }}{% endblock %}

{% block content %}
{# Tabs for category filtering #}
<div class="tabs">
    <button data-tab="all">All</button>
    {% for cat_posts in category_posts %}
    <button data-tab="{{ cat_posts.category.slug }}">{{ cat_posts.category.name }}</button>
    {% endfor %}
</div>

{# All posts tab #}
<div id="tab-all" class="post-grid">
    {% for post in posts %}
    {{ macros::post_card(post=post, show_category=true) }}
    {% endfor %}
</div>

{# Per-category tabs #}
{% for cat_posts in category_posts %}
<div id="tab-{{ cat_posts.category.slug }}" class="post-grid">
    {% for post in cat_posts.posts %}
    {{ macros::post_card(post=post) }}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
