name: Deploy binary

on:
    push:
        branches:
            - master
            - chore/deploy
        paths:
            - "crates/ssg/**"
            - "static/**"
            - "manifest.json"
            - "packages/**"
    workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Rust toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1

            - name: Build binary
              run: cargo build -p blog-ssg --release

            - name: Setup SSH
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.SSH_KEY }}" > ~/.ssh/deploy_key
                  chmod 600 ~/.ssh/deploy_key
                  ssh-keyscan -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

            - name: Deploy binary with scp
              run: |
                  scp -P ${{ secrets.SERVER_PORT }} -i ~/.ssh/deploy_key \
                    target/release/blog \
                    ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SERVER_USER }}/dev/blog

            - name: Cleanup SSH key
              if: always()
              run: rm -f ~/.ssh/deploy_key
