name: Deploy backend

on:
    push:
        branches:
            - master
            - chore/deploy
    workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: marshallku/blog-backend

jobs:
    push-image:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GH_PACKAGE_TOKEN }}

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                  tags: |
                      type=ref,event=branch
                      type=ref,event=pr
                      type=semver,pattern={{version}}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: docker/backend/Dockerfile
                  push: true
                  tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
    # deploy:
    #     needs: [push-image]
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: Run remote script
    #           uses: appleboy/ssh-action@master
    #           env:
    #               GH_PACKAGE_TOKEN: ${{ secrets.GH_PACKAGE_TOKEN }}
    #           with:
    #               host: ${{ secrets.SERVER_IP }}
    #               port: ${{ secrets.SERVER_PORT }}
    #               username: ${{ secrets.SERVER_USER }}
    #               key: ${{ secrets.SSH_KEY }}
    #               script: /home/${{ secrets.SERVER_USER }}/dev/containers/blog-frontend/deploy.sh
    #               envs: GH_PACKAGE_TOKEN
    send-notification:
        needs: [push-image]
        if: ${{ failure() }}
        uses: marshallku/actions/.github/workflows/send-notification.yml@master
        with:
            failed: ${{ contains(join(needs.*.result, ','), 'failure') }}
            message: "CI job failed - push"
        secrets:
            url: ${{ secrets.DISCORD_WEBHOOK_URI }}
